.no-transactions {
  height: 78vh;
}

@media (max-width: 768px) {
  .w-75 {
    width: 100% !important;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.results-line .lead {
  font-weight: 370;
}
