<div class="container">
  <h3 class="display-3 text-center mb-4">Summary</h3>
  <div
    *ngIf="!transactions.length"
    class="w-100 empty d-flex align-items-center justify-content-center"
  >
    <h3 class="display-4">You have no transactions</h3>
  </div>
  <div *ngIf="transactions.length">
    <div class="card mb-5" *ngFor="let t of transactions; let i = index">
      <div class="card-header">
        {{ t.type }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ t.name }}</h5>
        <p class="card-text">{{ t.amount }}</p>
        <p class="card-text">{{ t.date | date }}</p>
      </div>
    </div>
  </div>
  <h4 class="display-4 text-center my-5">
    {{ 'Your Total Income is Rs.' + income }}
  </h4>
  <h4 class="display-4 text-center my-5">
    {{ 'Your Total Expenses is Rs.' + expenses }}
  </h4>
  <h4 class="display-4 text-center my-5">
    {{ 'Your Balance is Rs.' + balance }}
  </h4>
</div>
